@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
body {font-family: 'Noto Sans KR', sans-serif;}
a { text-decoration:none; color:#333; }
* { -webkit-text-size-adjust:none; max-width:100%; }
/*swiper slider*/
.swiper-container { width: 100%; height: 100%; }
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
:root {
--swiper-theme-color:#ffffff !important;
}
.wrap {width:100%; overflow:hidden;}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide .swiper-slide-duplicate .swiper-slide-duplicate-active { width: 1519px; }


/* common */

.smileIcon { margin-bottom: 3%; font-weight: 600; font-size: 18px;}
.smileIcon > img { margin-bottom: 20px; }
.c_btn {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: #45bbeb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 4%;
}
.recover_btn {
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0px;
    background-color: #d0d0d0;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.max_1200px { width:100%; max-width: 1200px; margin: 0 auto; text-align: center; }
.max_100p { width:100%; margin: 0 auto; overflow: hidden; }
/* common */

/* header */
.wrap header { width: 100%; max-width: 1200px; text-align: center; margin: 0 auto; padding: 1% 0; position: relative; }
.wrap header h1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.wrap header nav {
    position: absolute;
    right: 0;
    bottom: 20%;
    max-width: 1200px;
    text-align: center;
}
.wrap header nav > a { text-decoration: none; }
/* header */

/* advant */
.advant { margin-bottom: 3%; }
.advant div:first-child { padding: 5% 0; }
.advant div p { font-size: 21px; }
.advant div:first-child > p:first-child,.advant div:first-child > p:nth-child(2) { margin-bottom: 20px; }
.advant div:nth-child(3) { display: flex; justify-content: center; }
.advant div:nth-child(3) ul:not(:nth-child(4)) { margin-right: 30px; }
.advant div:nth-child(3) ul li { word-break: keep-all;}
.advant div:nth-child(3) ul li:nth-child(2),.advant div:nth-child(3) ul li:nth-child(3) { margin-bottom: 10px; }
.advant div:nth-child(3) ul li:nth-child(2),.advant div:nth-child(3) ul li strong { font-weight: 600; }
.advant div:nth-child(3) ul li:nth-child(2) { font-size: 18px; margin-bottom: 20px; color: #25afff;  }
/* advant */

/* couponAd */
.couponAd { display: flex; justify-content: center; margin: 5% auto;}
.couponAd div ul li:first-child { margin-bottom: 5%; }
.couponAd div ul li { font-size: 16px; }
.couponAd div ul li:nth-child(2),.couponAd div ul li:nth-child(3),.couponAd div ul li:last-child { margin-bottom: 3%; }
.couponAd div ul li > .recover_btn { margin-top: 5%; }
.couponAd > .smileIcon { margin-top: 3%; }
/* couponAd */

/* couponUse */
.couponUse .app { display: flex; justify-content: center; }
.couponUse div:nth-child(2) h3 { font-size: 21px; display: flex; align-items: center; color: #fb4d0a; }
.couponUse > .smileIcon { margin-bottom: 2%; }
.couponUse .mobile { display: flex; justify-content: center; margin-bottom: 5%; margin-top: 1%; }
.couponUse .mobile > div:not(:last-child) { margin-right: 20px; }
.couponUse .mobile > div > p { margin: 5% 0;}
/* couponUse */

/* franschiseAdvant */
.franschiseAdvant { background-color: #f1f1f1; padding: 3% 0;} 
.franschiseAdvant div:nth-child(2),.franschiseAdvant div:nth-child(3) { font-size: 18px; }
.franschiseAdvant div:nth-child(2) > p:first-child { margin-bottom: 20px; }
.franschiseAdvant div:nth-child(2) > p:last-child { margin-bottom: 5%; }
.franschiseAdvant div:nth-child(3) > p { margin-bottom: 20px; }
.franschiseAdvant div:nth-child(3) > p:first-child { font-weight: 600; }
.franschiseAdvant div:nth-child(3) > p:first-child strong { font-weight: 600; font-size: 21px; color: #25afff; }
.franschiseAdvant > .smileIcon { margin-bottom: 3%; }
.franschiseAdvant .banner { display: flex; align-items: center; }
/* franschiseAdvant */

/* couponPoint */
.couponPoint { padding: 5% 0; }
.couponPoint p { font-size: 18px; }
.couponPoint div:first-child p { margin-bottom: 20px; }
.couponPoint div:first-child p:first-child strong {font-weight: 600; font-size: 21px; color: #25afff; }
.couponPoint div:first-child p:first-child { font-weight: 600; margin-bottom: 30px; }
.couponPoint div:first-child p:nth-child(2) > strong,.couponPoint div:nth-child(2) p > strong { color:#ff5a7c; font-weight: 600; }
.couponPoint div:nth-child(2) > img { margin: 20px 0; }
.couponPoint div:nth-child(3) { margin: 3% 0; display: flex; justify-content: center; } 
.couponPoint div:nth-child(3) ul { display: flex; justify-content: space-between; align-items: center; }
.couponPoint div:nth-child(3) ul li:first-child,.couponPoint div:nth-child(3) ul li:nth-child(2) { margin-right: 30px; }
/* couponPoint */

/* siteOffer */
.siteOffer { padding: 3% 0; background-color:#f2ebe3; margin-bottom: 5%;  }
.siteOffer div:nth-child(2) p { font-size: 18px; }
.siteOffer div:nth-child(2) p:first-child,.siteOffer div:nth-child(2) p:nth-child(2) { font-weight: 600; font-size: 21px; }
.siteOffer div:nth-child(2) p:first-child { margin-bottom: 10px; }
.siteOffer div:nth-child(2) p:nth-child(2) { margin-bottom: 30px; }
.siteOffer div:nth-child(2) p:nth-child(3) { margin-bottom: 10px; }
.siteOffer .siteWrap { display: flex; align-items: center; max-width: 1000px; margin: 0 auto;}
/* siteOffer */

/* franchisePro */
.franchisePro { margin-bottom: 5%; }
.franchisePro div:nth-child(2) { margin-top: 5%; }
.franchisePro div:nth-child(2) ul { display: flex; justify-content: center; margin-bottom: 3%; }
/* franchisePro */

/* storeArea */
.storeArea div:nth-child(2) { margin: 3% 0; }
.storeArea div:nth-child(2) ul { display: flex; justify-content: center; }    
.storeArea div:nth-child(2) ul li {  border: 1px solid #bcbcbc;}
.storeArea div:nth-child(2) ul li:not(:last-child) { margin-right: 20px; }
/* storeArea */

/* customerArea */
.customerArea { margin-bottom: 3%; }
.customerArea div:first-child ul { width: 90%; margin: 0 auto; max-width: 1200px;}

/* .customerArea div:first-child ul li { float: left;}
.customerArea div:first-child ul::after { content: ' '; display: block; overflow: hidden; clear: both ;} */
.customerArea div:first-child ul { display: flex; justify-content: center; }
.customerArea div:first-child ul li a { display: flex; justify-content: center; } 
.customerArea div:first-child ul li:not(:last-child) { margin-right: 50px; }
/* customerArea */

/* footer */
.wrap .footer .ft_wrap { border-top: 1px solid #dddddd; }
.wrap .footer .info { padding: 1% 0; }
.wrap .footer .info ul { display: flex; width: 95%; max-width: 1200px; margin: 0 auto; }
.wrap .footer .info ul li{
    border-right: 2px solid #ddd;
    padding: 0px 30px;
    font-size: 15px;
    cursor: pointer;
}
.wrap .footer .infoNumber { padding: 16px 0; background-color: #4e575e;}
.wrap .footer .infoNumber div:first-child { width:95%; max-width: 1200px; margin: 0 auto; }
.wrap .footer .infoNumber ul { width: 95%; max-width: 1200px; margin: 0 auto; text-align: left; } 
.wrap .footer .infoNumber ul li { color: white; font-size: 13px; }
.wrap .footer .infoNumber ul li:not(:last-child) { margin-bottom: 10px; }

/* footer */

/* mediaquery */
@media ( max-width: 1230px) {
    .wrap header { width: 90%; }
    .max_1200px { width: 90%; }
    .info { width: 95%; }
}

@media ( max-width: 1000px) {
    .smileIcon { font-size: 16px; }
    .recover_btn { font-size: 15px; width: 260px; }
.wrap .footer .info ul
    .wrap header nav { font-size: 14px; }
    .advant div p { font-size: 16px; }
    .advant div:nth-child(3) ul li:nth-child(2) { font-size: 16px; }
    .advant div:nth-child(3) ul li:nth-child(3), .advant div:nth-child(3) ul li:nth-child(4) { font-size: 14px;}
    .advant div:nth-child(3) ul li:first-child img { width: 50%; }

    .couponAd div:first-child ul li:first-child img,.couponAd div:nth-child(2) li:first-child img { width: 70%; }
    .couponAd div ul li { font-size: 14px; }
    .couponUse div:nth-child(2) h3 { font-size: 16px; }
    .couponUse .mobile div img { width: 90%; }
    .couponUse .mobile > div > p { font-size: 12px; }
    
    .c_btn { font-size: 12px; }
    .franschiseAdvant div:nth-child(2), .franschiseAdvant div:nth-child(3) { font-size: 15px; }
    .franschiseAdvant div:nth-child(3) > p:first-child strong { font-size: 17px; }
    .franschiseAdvant .banner { width: 80%; }
    .franschiseAdvant .banner ul:first-child > img,.franschiseAdvant .banner ul:nth-child(2) > img { width: 70%; }

    .couponPoint p { font-size: 15px; }
    .couponPoint div:first-child p:first-child strong { font-size: 17px; }
    .couponPoint div:nth-child(2) > img { width: 25%; }
    /* .couponPoint div:nth-child(3) ul { width: 75%; } */

    .siteOffer .siteWrap { max-width: 650px; }
    .siteOffer .siteWrap div:first-child img { width:70%;  }
    .siteOffer div:nth-child(2) p:first-child, .siteOffer div:nth-child(2) p:nth-child(2) { font-size: 16px; }
    .siteOffer div:nth-child(2) p { font-size: 14px; }
    
    .customerArea div ul li { font-size: 14px; }

    .wrap .footer .info ul { width: 97%; }
    .wrap .footer .info ul li { font-size: 13px; }
    .wrap .footer .infoNumber ul li { font-size: 12px; }
}
@media ( max-width: 700px) {

    .advant div:nth-child(3) { flex-wrap: wrap; align-items: baseline; }
    .advant div:nth-child(3) ul:not(:nth-child(4)) { margin: 0; }
    .advant div:nth-child(3) ul:nth-child(1),.advant div:nth-child(3) ul:nth-child(2) { margin-bottom: 5%; }
    .advant div:nth-child(3) ul:nth-child(1),.advant div:nth-child(3) ul:nth-child(3) { margin-right: 10%; }
    .couponUse .mobile { flex-wrap: wrap; }

    .franchisePro { margin-bottom: 10%;}
    .franchisePro div:nth-child(2) ul { flex-wrap: wrap; }
    .franchisePro div:nth-child(2) ul li img { width: 80%; }
    .franchisePro div:nth-child(2) ul li:first-child,.franchisePro div:nth-child(2) ul li:nth-child(2) { margin-bottom: 20px; }
    .storeArea { width:30%; }
    .storeArea div:nth-child(2) ul { display: block; }

    /* .storeArea div:nth-child(2) ul li:nth-child(5), .storeArea div:nth-child(2) ul li:nth-child(6),
    .storeArea div:nth-child(2) ul li:nth-child(7) { margin-top: 0; } */
    .storeArea div:nth-child(2) ul li { margin-top: 20px; }
    .storeArea div:nth-child(2) ul li:not(:last-child) { margin-right: 0;}
    .storeArea div:nth-child(2) { margin: 20% 0;}
    /* .storeArea div:nth-child(2) ul { flex-wrap: wrap; justify-content: space-between; }
    .storeArea div:nth-child(2) ul li:not(:last-child) { margin: 0; } */
    /* .storeArea div:nth-child(2) ul li:first-child,.storeArea div:nth-child(2) ul li:nth-child(2),
    .storeArea div:nth-child(2) ul li:nth-child(3) { margin-right: 10px; } */
    .storeArea div:nth-child(2) ul li:nth-child(5),.storeArea div:nth-child(2) ul li:nth-child(6),
    .storeArea div:nth-child(2) ul li:nth-child(7) { margin-top: 20px; }

    .wrap .footer .info ul { width: 99%; }
    

}
@media ( max-width: 600px) {
    .wrap header nav { font-size: 12px; }
    
    .advant div:nth-child(3) { flex-direction: column; justify-content: center; align-items: center; }
    .advant div:nth-child(3) ul:nth-child(1), .advant div:nth-child(3) ul:nth-child(3) { margin-right: 0; }
    .advant div:nth-child(3) ul:nth-child(3), .advant div:nth-child(3) ul:nth-child(4) { margin-bottom: 5%; }

    .couponAd { flex-direction: column; justify-content: center; }

    .couponUse .app { flex-direction: column; align-items: center; margin-bottom: 20px; }

    .customerArea { margin-bottom: 7%; }
    .customerArea div:first-child ul { flex-wrap: wrap; }
    .customerArea div:first-child ul li { margin-right: 50px; }
    .customerArea div:first-child ul li:nth-child(2) { margin-right: 0;}
    .customerArea div:first-child ul li:nth-child(3) { margin-left: 50px; }

    .siteWrap { flex-direction: column; }

    .wrap .footer .info,.wrap .footer .info ul  { width: 100%; }
    .wrap .footer .info { padding: 0; }
    .wrap .footer .info ul { display: block; text-align: center; }
    .wrap .footer .info ul li { border-right: none; padding: 2% 0;}

    .wrap .footer .info ul li:first-child,.wrap .footer .info ul li:nth-child(2) { border-bottom: 1px solid #dddddd;}
    
}
@media ( max-width: 530px) {
    .customerArea div:first-child ul li:nth-child(3) { margin-left: 0; }
    .customerArea div:first-child ul li { margin-right: 0; }
}
@media ( max-width: 530px) {
}